/*settaggi generali*/
*{
  margin:0;
  padding:0;
}
body{
background-color: black;
}
.contenitorebody{
  /*height:4000px;*/
}
.center{
  height:100%;
  width:80%;
  margin:0 auto;
}
/*fine settaggi generali*/
/*settaggi header*/
header{
  height:700px;
}
.menu1{
  height:7%;
  background-color:rgb(15, 61, 85);
}
.menu2{
  height:10%;
  background-color:rgb(169, 169, 169);
}
.menu3{
  height:10%;
  background-color:white;
}
.sezioneprincipaleheader{
  position: relative;
  height:73%;
  background-image:url("sfondo.png");
  background-size:cover;
}
#seth1{
position: absolute;
color:white;
font-size:3em;
top:15%;

}
#setp{
position: absolute;
color:white;
top:40%;
width:50%;
}
.bottoneprincipale{
  height:50px;
  width:150px;
  font-size:1em;
  font-family:fantasy;
  color:	#778899;
  position:absolute;
  top:60%;
  background-color:#dfe6f2;
}
.sezionicontenuti{
  height:65%;
}
}
.sezionetop{
  height:800px;
}
.color{
  background-color:#dfe6f2;
}
#setimage{
  position: absolute;
  background-size:cover;
  height:150px;
  width:200px;
  left:50%;
  top:30%;
  transform: translate(-50%,-50%);
}
#seth2first{
  position: absolute;
  left:50%;
  top:50%;
  color:black;
  font-size:1.5em;
  transform: translate(-50%,-50%);
}
.singolacolonna1{
  position: relative;
  height:400px;
border-color: red;
  border:1px solid black;
  box-sizing: border-box;
}
#setp2{
  position: absolute;
  max width:100%;
  font-size:0.9em;
  top:70%;
  left:50%;
  transform:translate(-50%,-50%);
}
#setp3{
  position: absolute;
  font-size:0.9em;
  top:80%;
  left:50%;
  transform: translate(-50%,-50%);
}
.twoone{
  height:200px;
  background-color:white;
  border:solid 1px black;
  box-sizing: border-box;
}
.sezioneleft{
  float:left;
  height:100%;
  width:30%;
}
.sezioneright{
  float: left;
  height:100%;
  width:70%;
}
.sezionerow{
  height:450px;
  border-color: green;
}
.two{
 height:400px;
}
.row{
  height:100%;
  width:calc(100% / 3);
  float:left;
  background-color:white;
  border:solid 1px black;
  box-sizing: border-box;
}

.sezionerow::after{
  content: "";
  display: table;
  clear: both;
}
.singolacolonna2{
  height:400px;
  background-color:rgb(0, 175, 178);
}
.sezionea2colonne2{
  height:400px;
  background-color:white;
}
.colonne2{
height:100%;
}
.sezionea2colonnetop{
  height:50%;
  border:solid 1px black;
  box-sizing: border-box;
}
.sezionea2colonnebottom{
  height:50%;
  border:solid 1px black;
  box-sizing: border-box;
}

/*fine settaggi sezioni principali*/
/*inizio settaggi footer*/
footer{
  height:700px;
  background-color:rgb(51, 71, 91);
}
/*fine settaggi footer*/
