/*settaggi generali*/
*{
  margin:0;
  padding:0;
}
body{
  background-color:black;
}
.contenitorebody{
  /*height:4000px;*/
}
.center{
  height:100%;
  width:80%;
  margin:0 auto;
}
/*fine settaggi generali*/
/*settaggi header*/
header{
  height:700px;
}
.menu1{
  height:7%;
  background-color:rgb(15, 61, 85);
}
.menu2{
  height:10%;
  background-color:rgb(169, 169, 169);
}
.menu3{
  height:10%;
  background-color:white;
}
.sezioneprincipaleheader{
  height:73%;
  background-image:url("sfondo.png");
  background-size:cover;
}
.sezionicontenuti{
  height:65%;
}
}
.sezionetop{
  height:800px;
}
.singolacolonna1{
  height:150px;
  background-color:white;
  border:1px solid black;
  box-sizing: border-box;
}
.sezionea2colonne1{
  height:300px;
  background-color:white;
  border:solid 1px black;
  box-sizing: border-box;
}
.sezioneleft{
  float:left;
  height:100%;
  width:30%;
}
.sezioneright{
  float: left;
  height:100%;
  width:70%;
}
.sezionea2colonne1::after{
  content:"";
  display:table;
  clear:both;
}
.sezionerow{
  height:350px;
}
.row{
  height:100%;
  width:calc(100% / 3);
  float:left;
  background-color:white;
  border:solid 1px black;
  box-sizing: border-box;
}

.sezionerow::after{
  content: "";
  display: table;
  clear: both;
}
.singolacolonna2{
  height:400px;
  background-color:rgb(0, 175, 178);
}
.sezionea2colonne2{
  height:400px;
  background-color:white;
}
.colonne2{
height:100%;
}
.sezionea2colonnetop{
  height:50%;
  border:solid 1px black;
  box-sizing: border-box;
}
.sezionea2colonnebottom{
  height:50%;
  border:solid 1px black;
  box-sizing: border-box;
}
.colonne2::after{
  content:"";
  display:table;
  clear: both;
}
/*fine settaggi sezioni principali*/
/*inizio settaggi footer*/
footer{
  height:700px;
  background-color:rgb(51, 71, 91);
}
/*fine settaggi footer*/
